{% extends "base.html" %}
{% block title %}Friends{% endblock %}
{% block content %}

    <br/>
    <h2>Your friends</h2>
    <table>
        <thead>
        <tr>
            <th>Friend username</th>
        </tr>
        </thead>
        <tbody>
        {% for friend in friends %}
            <tr>
                <td>{{ friend['friend'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br/>
    <h2>People who want to add you to their friends</h2>
    <table>
        <thead>
        <tr>
            <th>Request sent by</th>
            <th>Accept</th>
            <th>Deny</th>
        </tr>
        </thead>
        <tbody>
        {% for request in friend_request %}
            <tr>
                <td>{{ request['user'] }}</td>
                <td>
                    <form method="POST">
                        <input type="hidden" name="post_id" value="3">
                        <input type="hidden" name="RequestSendBy" value={{ request['user'] }}>

                        </br>
                        <button type="submit" class="btn btn-primary">Accept</button>
                    </form>
                </td>
                <td>
                    <form method="POST">
                        <input type="hidden" name="post_id" value="4">
                        <input type="hidden" name="RequestSendBy" value={{ request['user'] }}>

                        </br>
                        <button type="submit" class="btn btn-primary">Deny</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <br/>
    <h2>You can search for a user by username to add friend</h2>
    <br/>
    <form method="POST">
        <input type="hidden" name="post_id" value="1">
        <div class="form-group">

            <input
                    type="username"
                    class="form-control"
                    id="username"
                    name="username"
                    placeholder="Enter username"
            />
        </div>
        </br>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>


    </br>
    <h2>Here are the search results:</h2>
    </br>
    <!-- search_results.html -->
    <style>
        table {
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 20px;
            vertical-align: middle;
            text-align: center;
        }
    </style>
    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Nickname</th>
            <th>Friend</th>
        </tr>
        </thead>
        <tbody>
        {% for u in users %}
            <tr>
                <td>{{ u['username'] }}</td>
                <td>{{ u['fname'] }}</td>
                <td>{{ u['lname'] }}</td>
                <td>{{ u['nickname'] }}</td>
                <td>
                    <form method="POST">
                        <input type="hidden" name="post_id" value="2">
                        <input type="hidden" name="user_id" value={{ u['username'] }}>

                        </br>
                        <button type="submit" class="btn btn-primary">Add friend</button>
                    </form>
                </td>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}