{% extends "base.html" %}
{% block title %}PlayList{% endblock %}
{% block content %}


<br/>
<br/>
<form method="POST" id="show_add_song_input" style="display:none;">
    <input type="hidden" name="post_id" value="2">
    <div class="form-group">

        <input
                type="title"
                class="form-control"
                id="title"
                name="title"
                placeholder="Enter song title"
        />
    </div>
    </br>
    <div style="display: flex; justify-content: center;" class="button-container">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
    <br/><br/>
</form>
{% if songs is defined %}
<h2>Here are the search results:</h2>
</br>

<div id="Nameresult">

    <table class="table table-striped table-hover">
        <thead class="thead-dark">
        <tr class="juicy-peach-gradient ">
            <th>Title</th>
            <th>Song ID</th>
            <th>Artist</th>
            <th>Add</th>
        </tr>
        </thead>
        <tbody>
        {% for song in songs %}
        <tr>
            <td>{{ song['title'] }}</td>
            <td>{{ song['songID'] }}</td>
            <td>{{ song['fname'] + ' ' + song['lname']}}</td>
            <td>
                <form method="POST" style="display: flex;align-items: center;">
                    <input type="hidden" name="post_id" value="3">
                    <input type="hidden" name="songID" value="{{ song['songID'] }}">
                    <select class="custom-select" name="list_id">
                        <option selected>Choose playlist</option>
                        {% for playlist in playlists %}
                        <option name="list_id" value={{ playlist['listID']}}>{{ playlist['listName']}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn mean-fruit-gradient">Add</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
<br/>
<div style="display: flex;  align-items: center;">
    <h2 style="display: flex;">Your PlayLists &nbsp; &nbsp;
        <li class="nav-item" style="margin-left: auto" id="add_btn">
            <button class="btn mean-fruit-gradient btn-sm" style="display: flex;align-items: center; height: 25px"
                    onclick="show_add_playlist()">
                <i class="fa-solid fa-plus"></i>
            </button>
        </li>
        <form method="POST" style="margin:0px; padding:0px; display:inline; display:none;" id="add_input">

            <input type="hidden" name="post_id" value="1">

            <li class="nav-item" style="display: flex; margin-left: auto">
                <input style=" width: 65%; font-size:14px;" name="listName" type="add_playlist" id="add_playlist_name"
                       placeholder="Enter new playlist name"/>
                <button class="btn mean-fruit-gradient btn-sm" style="display: flex;align-items: center; height: 25px;">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </li>
        </form>
    </h2>

    <li class="nav-item" style="margin-left: auto" id="show_add_song_btn">
        <button class="btn deep-blue-gradient btn-sm" onclick="show_add_song()" id="show_add_song_btn_content">Search
            song to add
        </button>
    </li>
</div>

<table class="table table-striped table-hover">
    <thead class="thead-dark">
    <tr>
        <th>PlayList ID</th>
        <th>PlayList Name</th>
        <th>Check Songs</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div id="accordion">
    {% for i in range(playlists|length) %}
    <div class="card">
        <div class="card-header" id="headingOne"
             style="display: flex; justify-content: space-between;align-items: center;">

            <div style="width = 33%"><h5>{{ playlists[i]['listID']}}</h5></div>
            <div style="width = 33%"><h5>{{ playlists[i]['listName'] }}</h5></div>
            <div style="width = 33%">
                <button class="btn btn-primary"
                        aria-controls="collapseOne">
                    Add
                </button>
                <button class="btn btn-primary" data-toggle="collapse" data-target=#{{ playlists[i][
                'listID']}} aria-controls="collapseOne">
                Show
                </button>
            </div>

        </div>

        <div id={{ playlists[i][
        'listID']}} class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body" style="display: flex; justify-content: space-between;align-items: center;">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                </tr>
                </thead>
                <tbody>
                {% for song in songlists[i] %}
                <tr style="border: none;">

                    <td style="border: none;">{{ song['title'] }}</td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
</div>

<script type="text/javascript">
    function show_add_playlist() {
        var add_btn = document.getElementById("add_btn");
        var add_input = document.getElementById("add_input");

        add_btn.style.display = "none"
        add_input.style.display = "block";
    }

    function show_add_song() {
        var show_add_song_input = document.getElementById("show_add_song_input");
        var show_add_song_btn = document.getElementById("show_add_song_btn");
        var show_add_song_btn_content = document.getElementById("show_add_song_btn_content");


        if (show_add_song_input.style.display == "none") {
            show_add_song_input.style.display = "block";
            show_add_song_btn_content.innerHTML = 'Hide search'
        } else {
            show_add_song_input.style.display = "none";
            show_add_song_btn_content.innerHTML = 'Search song to add'
        }
    }



</script>


{% endblock %}