{% extends "base.html" %}
{% block title %}Rate Songs{% endblock %}
{% block content %}
<br/>

<div style="display: flex; justify-content: right;" class="button-container">
    <button type="submit" class="btn tempting-azure-gradient" onclick="show_rates_review()" id="rates_review_btn">My
        review & rating
    </button>
</div>
<div id="rates_review_table" style="display: none;">
    <div class="table-container" style="display: flex;">
        <div class="table-wrapper" style=" width: 45%;">
            <h3>Rate</h3>
            {% if rates|length > 0 %}
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr class="juicy-peach-gradient ">
                    <th>Title</th>
                    <th>Stars</th>
                </tr>
                </thead>
                <tbody>
                {% for rate in rates %}
                <tr>
                    <td>{{ rate['title'] }}</td>
                    <td>{{ rate['stars'] }}</td>
                </tr>
                {% endfor%}
                </tbody>
            </table>
            {% else %}
            <h6 style="text-align: center;">You have no rate yet</h6>
            {% endif %}
        </div>
        <div class="table-wrapper" style=" width: 45%; margin-left: auto;">
            <h3>Review</h3>
            {% if reviews|length > 0 %}
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr class="juicy-peach-gradient">
                    <th>Title</th>
                    <th>Comment</th>
                </tr>
                </thead>
                <tbody>
                {% for review in reviews %}
                <tr>
                    <td>{{ review['title'] }}</td>
                    <td>{{ review['reviewText'] }}</td>
                </tr>
                {% endfor%}
                </tbody>
            </table>
            {% else %}
            <h6 style="text-align: center;">You have no review yet</h6>
            {% endif %}
        </div>
    </div>
</div>

<script>
             function show_rates_review() {
                var rates_review_table = document.getElementById("rates_review_table");
                var rates_review_btn = document.getElementById("rates_review_btn");

                if (rates_review_table.style.display == "none") {
                    rates_review_table.style.display = "block";
                    rates_review_btn.innerHTML = 'Hide'
                } else {
                    rates_review_table.style.display = "none";
                    rates_review_btn.innerHTML = 'My review & rating'
                }
            }

</script>
<br/>
<form method="POST">
    <h3 align="center">Search Songs to Rate</h3>
    <div class="form-group">
        <label for="title">Song title</label>
        <input
                type="title"
                class="form-control"
                id="title"
                name="title"
                placeholder="Enter song title"
        />
    </div>
    <br/>
    <input type="hidden" name="post_id" value="1">
    <div style="display: flex; justify-content: center;" class="button-container">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<br/>
{% if songs is defined %}

<h2>Here are the search results:</h2>
</br>

<div id="Nameresult">

    <table class="table table-striped table-hover">
        <thead class="thead-dark">
        <tr class="juicy-peach-gradient ">
            <th>Title</th>
            <th>Song ID</th>
            <th>Artist</th>
            <th>Comment</th>
            <th>Stars</th>
        </tr>
        </thead>
        <tbody>
        {% for song in songs %}
        <tr>
            <td>{{ song['title'] }}</td>
            <td>{{ song['songID'] }}</td>
            <td>{{ song['fname'] + ' ' + song['lname']}}</td>
            <td>
                <button type="button" class="btn dusty-grass-gradient" id="comment" onclick="buttonClicked()">Comment
                </button>
                <form method="POST" post_id="2" style="display: flex;align-items: center;">
                    <input name="reviewText" type="reviewText" id="reviewText" placeholder="Enter your text here"
                           style="width: 100%;display: none;"/>
                    <input type="hidden" name="post_id" value="2">
                    <input type="hidden" name="song_id" value="{{ song['songID'] }}">
                    <button type="submit" class="btn mean-fruit-gradient" id="comment_submit"
                            onclick="buttonClicked()" style="display: none;">Submit
                    </button>

                </form>
            </td>
            <td>
                <button type="button" class="btn deep-blue-gradient" id="rate" onclick="buttonClicked()">Rate</button>
                <form method="POST" post_id="3" style="display: flex;align-items: center;">
                    <select class="custom-select" name="stars" type="stars" id="stars" style="display:none">
                        <option selected>Choose playlist</option>
                        <option name="stars" value="1">1</option>
                        <option name="stars" value="2">2</option>
                        <option name="stars" value="3">3</option>
                        <option name="stars" value="4">4</option>
                        <option name="stars" value="5">5</option>
                    </select>
                    <input type="hidden" name="post_id" value="3">
                    <input type="hidden" name="song_id" value="{{ song['songID'] }}">
                    <button type="submit" class="btn mean-fruit-gradient" id="rate_submit"
                            onclick="buttonClicked()" style="display: none;">Submit
                    </button>

                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
            document.getElementById('comment').addEventListener('click', function() {
                this.style.display = 'none';
                document.getElementById('reviewText').style.display = 'block';
                document.getElementById('comment_submit').style.display = 'block';

            });

            document.getElementById('rate').addEventListener('click', function() {
                this.style.display = 'none';
                document.getElementById('stars').style.display = 'block';
                document.getElementById('rate_submit').style.display = 'block';

            })


</script>
{% endif %}
{% endblock %}
